<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.buildmlearn.toolkit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ToolkitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarThemeTransparentStatusBar" />
        <activity
            android:name=".simulator.Simulator"
            android:label="@string/title_activity_simulator"
            android:screenOrientation="portrait"
            android:theme="@style/Buildmlearn.Simulator" />
        <activity
            android:name=".activity.TemplateActivity"
            android:label="@string/title_activity_template"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.buildmlearn.toolkit.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.TemplateEditor"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_template_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FirstRunActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Buildmlearn.FullScreen" />
        <activity
            android:name=".activity.AboutBuildmLearn"
            android:label="@string/title_activity_about_buildm_learn"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.buildmlearn.toolkit.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.DeepLinkerActivity"
            android:label="@string/title_activity_deep_linker">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.buildmlearn" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsLinkerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1132ca7df3eff20168030d5099ebd5b81bbfa805" />
    </application>

</manifest>