<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.buildmlearn.toolkit" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ToolkitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".simulator.Simulator"
            android:label="@string/title_activity_simulator"
            android:screenOrientation="portrait"
            android:theme="@style/Buildmlearn.FullScreen" />
        <activity
            android:name=".activity.TemplateActivity"
            android:label="@string/title_activity_template"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.buildmlearn.toolkit.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.TemplateEditor"
            android:label="@string/title_activity_template_editor"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c1d33469d628f14f5b248cb6d6dcf6de726ef5e3" />

        <activity
            android:name=".activity.FirstRunActivity"
            android:label="@string/app_name"
            android:theme="@style/Buildmlearn.FullScreen"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Buildmlearn.FullScreen" >
        </activity>
        <activity
            android:name=".activity.AboutBuildmLearn"
            android:label="@string/title_activity_about_buildm_learn"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.buildmlearn.toolkit.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.DeepLinkerActivity"
            android:label="@string/title_activity_deep_linker" >
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="1" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.buildmlearn" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:label="@string/title_activity_upload"
            android:parentActivityName=".activity.TemplateEditor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.buildmlearn.toolkit.activity.TemplateEditor" />
        </activity>
    </application>

</manifest>
